<!DOCTYPE html>
<html class="h:full">
{{- partial "head.html" . -}}

<body class="h:full bg:fade-84@dark font:fade-16@dark font:sans">
    {{ partial "header.html" . -}}
    <div class="h:full d:flex flex:column@<=sm pt:80 px jc:center gap:44 word-break:break-word">
        {{- block "side" . }}{{- end }}
        <div class="max-w:700 w:full box:content-box">
            <div class="min-height:full padding-bottom:60px">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>

</html>